@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", Arial, Tahoma;
  font-weight: 400;
  color: #363636;
  background: #334960;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}

@media print {
  body {
    background-color: transparent;
  }
  .overall-container {
    /*without this, page break doesnt work ..*/
    /*https://stackoverflow.com/questions/34534231/page-break-insideavoid-not-working*/
    display: block;
  }
  .language-container {
    display: none;
  }
  .right-container .box,
  .job-highlight {
    page-break-inside: avoid;
  }
  .contact-item-container {
    /* :( */
    flex-direction: row !important;
  }
  .contact-item {
    width: 30%;
  }
  /*mail is bigger, give it some space*/
  .contact-item:nth-of-type(3n+2) {
    width: 40%;
  }
}

